.frame {
    background-color: #89725B;
    width: 225px;
    border-radius: 20px;
    border: 2px solid #635e61;
    margin-top: 25px;
    box-shadow: 5px 7px 3px #888888;
}
.content {
    margin: 0 0 10px 13px;
}
.ans {
    width: 188px;
    background-color: #e7e7b0;
    padding: 0 3px;
    border-radius: 5px;
    margin: 25px 0 5px 3px;
    font-size: 24px;
}
.btn-default {
    background-color: #383442;
    color: white;
    width: 40px;
    height: 40px;
    margin: 3px 3px;
    border-radius: 10px;
}
.btn-danger {
    width: 40px;
    height: 40px;
    margin: 3px 3px;
    border-radius: 10px;
}
.btn-default:hover {
    color: white;
    background-color: #383442;
    border-color: #ccc;
}
.btn-danger:hover {
    color: white;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.btn-default:active,
.btn-default.active,
.btn-default:active:focus,
.btn-defaul:focus {
    color: white;
    background-color: #383442;
    border-color: #ccc;
    outline: none;
}